In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np 

from sklearn import metrics
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
tel_1 = pd.read_csv('TelcomCustomer-Churn_1.csv')

tel_2 = pd.read_csv('TelcomCustomer-Churn_2.csv')

In [8]:
print(tel_1.sample())
print("*" * 80)
print(tel_1.info())

      customerID  gender  SeniorCitizen Partner Dependents  tenure
5941  2908-ZTPNF  Female              0      No         No      36  \

     PhoneService     MultipleLines InternetService OnlineSecurity
5941           No  No phone service             DSL             No
********************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerID       7043 non-null   object
 1   gender           7043 non-null   object
 2   SeniorCitizen    7043 non-null   int64
 3   Partner          7043 non-null   object
 4   Dependents       7043 non-null   object
 5   tenure           7043 non-null   int64
 6   PhoneService     7043 non-null   object
 7   MultipleLines    7043 non-null   object
 8   InternetService  7043 non-null   object
 9   OnlineSecurity   7043 non-null   object
dtypes: int64(2), object(8)
memory usage: 550.4+ KB
None

In [9]:
print(tel_2.sample())
print("*" * 80)
print(tel_2.info())

      customerID OnlineBackup DeviceProtection TechSupport StreamingTV
3508  2368-GAKKQ          Yes              Yes         Yes         Yes  \

     StreamingMovies  Contract PaperlessBilling              PaymentMethod
3508             Yes  Two year              Yes  Bank transfer (automatic)  \

      MonthlyCharges TotalCharges Churn
3508          113.65      7939.25    No
********************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   OnlineBackup      7043 non-null   object
 2   DeviceProtection  7043 non-null   object
 3   TechSupport       7043 non-null   object
 4   StreamingTV       7043 non-null   object
 5   StreamingMovies   7043 non-null   object
 6   Contract          7043 non-null   object
 7   PaperlessBilling  7043 non-null   object
 8   PaymentMethod     7043 non-null   object
 9   MonthlyCharges    7043 non-null   float64
 10  TotalCharges      7043 non-null   object
 11  Churn             7043 non-null   object
dtypes: float64(1), object(11)
memory usage: 660.4+ KB
None

In [10]:
df = pd.merge(tel_1,tel_2, on='customerID')

In [11]:
df.sample()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
156,9167-APMXZ,Female,0,No,No,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),84.15,1821.95,No

In [13]:
df.shape

(7043, 21)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [18]:
tel_1.shape[1] + tel_2.shape[1] -1 == df.shape[1]

True

In [21]:
df.columns.values

array(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges',
       'TotalCharges', 'Churn'], dtype=object)

In [23]:
for i in df.columns.values:
    if i in tel_1.columns.values or i in tel_2.columns.values:
        print(True)
    else:
        print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

# Data Cleaning & Analysis